@import "room/player-widget";

@import "room/chat";
@import "room/playlist";

@import "room/users-widget";


/* room page */

.room-page {
  .container {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    height: calc(~"100vh - 55px");
  }

  .room-header {
    display: block;
    width: 100%;
    border-bottom: 2px solid #ccc;
    max-height: 54px;
  }

  .title {
    margin: 0.2em 0.5em;
    display: inline-block;
  }

  .log {
    color: gray;
    margin: 10px 0;
  }

  .log:before {
    content: '#';
    margin-right: 5px;
    display: inline-block;
  }

  .log:first-child {
    margin-top: 0;
  }

  .log + .log {
    margin-top: -10px;
  }
}
