@import "room/chat-widget";

@import "room/player-widget";


/* room page */

.room-page {
  .chat {
    height: 100%;
    padding-bottom: 60px;
  }

  .log {
    color: gray;
    margin: 10px 0;
  }

  .log:before {
    content: '#';
    margin-right: 5px;
    display: inline-block;
  }

  .log:first-child {
    margin-top: 0;
  }

  .log + .log {
    margin-top: -10px;
  }

  .actions {
    height: 100%;
    margin: 0;
    overflow-y: auto;
    padding: 15px;
  }

  .action .body {
    color: gray;
    white-space: pre-wrap;
  }

  .action.message {

    .body {
      color: black;
    }

    .author:after {
      content: '$';
      padding-left: 5px;
      color: gray;
    }
  }

  .author {
    overflow: hidden;
    float: left;
    margin-right: 5px;

    .name {
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */

      /* No support for these yet, use at own risk */
      -o-user-select: none;
      user-select: none;
    }
  }

  .new-message {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 60px;
    width: 100%;

    border-top: 1px solid gray;

    textarea {
      width: 100%;

      position: absolute;
      top: 0;
      bottom: 0;

      padding: 10px 10px 0 10px;

      border: none;
      outline: none;
      overflow-y: auto;
    }
  }
}