.icon-bell:before { content: '\e800'; } /* '' */
.icon-mute:before { content: '\e801'; } /* '' */
.icon-play:before { content: '\e802'; } /* '' */
.icon-sound:before { content: '\e803'; } /* '' */
.icon-dots:before { content: '\e804'; } /* '' */
.icon-minus:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-info:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */

