.chat-widget {
  flex: 1;
  order: 3;
  min-width: 50vw;
  overflow: hidden;
}

.chat {
  height: calc(~"100vh - 55px");
  display: flex;
  flex-flow: column nowrap;

  .actions {
    flex: 1;
    margin: 0;
    padding: 15px;
    overflow: scroll;
  }

  .action .body {
    color: gray;
    white-space: pre-wrap;
  }

  .author {
    overflow: hidden;
    float: left;
    margin-right: 5px;

    .name {
      user-select: none;
    }
  }

  .new-message {
    height: 60px;
    border-top: 2px solid #ccc;

    textarea {
      width: 100%;
      height: 59px;
      padding: 10px 10px 0 10px;

      border: none;
      outline: none;
      overflow-y: auto;
    }
  }

  .action.message {

    .body {
      color: black;
    }

    .author:after {
      content: '$';
      padding-left: 5px;
      color: gray;
    }
  }
}
