@import "meter";


.playlist-widget {
  order: 1;
  height: ~"calc(100vh - 54px)";
  border-right: solid 2px #ccc;

  .playlist {
    display: inline-block;
    float: left;
  }

  .songs {
    display: flex;
    flex-direction: column;
  }

  .song {
    cursor: pointer;
    width: 20em;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background: white;
    border-bottom: solid 2px #DDD;
    transition: all 0.25s ease;

    .controls {
      width: 26px;
    }

    .details {
      overflow: hidden;
      flex: 1;
      flex-wrap: wrap;

      .info {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    opacity: 0.6;

    &.selected,
    &:hover {
      background: #F2F2FF;
      opacity: 1;
    }

    &.active {
      background: #FDFBDF;
      opacity: 1;
      margin: -2px -7px;
      padding: 17px;
      box-shadow: 0 0 3px 0px #000000;
      z-index: 100;
      position: relative;
    }

    .progress {
      display: none;
      flex: 1 0 auto;
      padding-top: 10px;

      > * {
        vertical-align: middle;
        font-size: 12px;
      }

      .bar {
        width: 100%;
        padding: 0 10px;

        .i {
          padding: 5px 0;
          cursor: pointer;
          position: relative;
        }
      }
    }

    &.active,
    &.selected {
      .progress {
        display: flex;
        width: 95%;
      }
    }


    .controls a {
      font-size: 18px;
    }
  }
}
